<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.5.10/css/pico.min.css">
    <title>Proyecto</title>
</head>
<body>
    <header>
        <h1>Resumen de inversiones</h1>
        <nav>
            <ul>
              <li><a href="/" role="button">Inicio</a></li>
              <li><a href="/new" role="button">Compra</a></li>
              <li><a href="/new" role="button">Estado</a></li>
            </ul>
          </nav>


    </header>
    {% block section %}
    {% endblock %}
    <footer>
        <small>&copy; 2025 - Manuel Jesús Martos Martos</small>
    </footer>
    
</body>
</html>