{% extends "base.html" %}
{% block section %}

<form method="POST">
  <div style="display: flex; justify-content: space-between; gap: 1rem; flex-wrap: wrap;">
    <div style="flex: 1;">
      <label for="from_currency">Moneda origen:</label>
      <select name="from_currency" id="from_currency" required>
        {% for code in monedas_disponibles %}
          <option value="{{ code }}" {% if code == 'EUR' %}selected{% endif %}>{{ code }}</option>
        {% endfor %}
      </select>

      <div style="display: flex; justify-content: space-between; gap: 1rem; flex-wrap: wrap;">
        <input type="number" name="amount" id="amount" step="0.000001" placeholder="Introduce cantidad" required style="flex: 0.2;">
        <button type="submit">Calcular</button>
        
      </div>
    </div>

    <div style="flex: 1;">
      <label for="to_currency">Moneda nueva:</label>
      <select name="to_currency" id="to_currency" required>
        {% for code in monedas_disponibles if code != 'EUR' %}
          <option value="{{ code }}">{{ code }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div style="margin-top: 0.5rem;">
    <button type="submit" name="confirm" class="primary">Confirmar</button>
  </div>
</form>



{% endblock %}